@font-face {
    font-family: 'CaskaydiaCove Nerd Font';
    src: url('../Fonts/CaskaydiaCoveNerdFontMono-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    font-family: 'CaskaydiaCove Nerd Font';
}